body{
    margin: 0;
    background-color: rgba(61, 5, 134, 0.644);
    
}
#countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.country{
    border: 1px solid yellowgreen;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 250px;
}
.country-name{
    font-size: 45px;
    color: yellow;
}
#country-details img{
    width: 400px;
}
.footer{
    text-align: center;
}